.header{
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid black;
    justify-content: center;
    height: 100px;

}
.header-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid black;

}
.header-logo{
    flex-basis: 20%;
    border: 1px solid black;


}
.header-link{
    flex-basis: 70%;
    border: 1px solid black;

}
.ul-link{
    width: 65%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.link{
   
    list-style: none;
    align-items: center;

}
.elastic{
    font-size: 75px;
    font-size: calc(15px + 50 * (100vw / 1280));
}
